:root {
  --game-height: 2.5em;
  --game-width: auto;
}



game {
  height: var(--game-height);
  width: var(--game-width);
  /* display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-content: center; */
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

game-box {
  height: 2.5em;
  width: 2.5em;
  grid-column: span 1;
  background-color: var(--gray-dark);
  outline: 1px solid #fff;
}

letter {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letters-used {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
  margin: 0 0 1em 0;
  color: #fff;
}

@keyframes write-letters {
  0% {
    transform: scale(1);
    outline: 0px solid #ffffff;
  }

  50% {
    transform: scale(1.2);
    outline: 1px solid #ffffff;
  }

  100% {
    transform: scale(1);
    outline: 0px solid #ffffff;
  }
}

letter[data-right-letter]{
  background-color: var(--green);
}

letter[data-wrong-spot-letter]{
  background-color: var(--yellow);
}

letter[data-missed-letter]{
  background-color: var(--red);
}

@keyframes spin-letter {
  0% {
    background-color: green;
    /* transform: rotateX(0deg); */
  }

  50% {
    background-color: yellow;
    /* transform: rotate3d(180deg, 180deg, 180deg); */
    /* transform: rotateX(360deg); */
    /* transform: rotateY(360deg); */

    transform: matrix3d();
    
    
  }

  100% {
    background-color: red;
    transform: rotate3d(360deg, 360deg, 360deg);
  }
}

.display-animation{
  animation-name: spin-letter;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
}