::selection{
  background-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--black-light);
}

header {
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4em;
}

.nav-btn {
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

main {
  height: calc(100vh - 3em);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.wrap-text {
  margin-left: 10%;
  width: 80%;
  height: auto;
  overflow-wrap: break-word;
}

.materia {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: bolder;
  padding: 0;
  margin: 0.5em 0 0.5em 0;
}

.materia-text {
  font-size: 1.7rem;
  color: var(--yellow);
  font-weight: bolder;
}

.confirm-btn {
  height: 2em;
  width: 4.5em;
  font-size: 1.1rem;
  color: #000;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 0.4em;
  cursor: pointer;
  margin: 0.7em 0 0.7em 0;
}

.logo {
  height: 4em;
  width: auto;
}

.attempts {
  color: #fff;
}

.attempts>span {
  font-size: 1.2rem;
}

.keyboard-box{
  position: fixed;
  left: 0vh;
  bottom: 0vh;
  height: 12em;
  width: 100vw;
  transform: translateY(10em);
  transition: transform ease-in-out 250ms;
}

.keyboard-btn{
  height: 2em;
  width: 2em;
  margin-right: 2em;
  overflow: hidden;
  cursor: pointer;
}

.keyboard-btn>img{
  height: 100%;
  width: auto;
  transform: rotate(-180deg);
  transition: transform ease-in-out 200ms;
}

.keyboard-container{
  background-color: var(--black-light);
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-top: 1px solid #fff;
}

.keyboard-container>.row{
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.keys-btn {
  background-color: #000000;
  outline: 1px solid #fff;
  height: 2em;
  width: 1.5em;
  border-radius: 0.2em;
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
}

.canc-btn{
  width: 4em;
  justify-content: right;

}

.canc-btn>img{
  padding-right: 0.3em;
  height: 2em;
  width: auto;
}

.green {
  color: var(--green);
}
.red {
  color: var(--red);
}
.yellow{
  color: var(--yellow);
}

#fullChangeModeBtn{
  width: 9em;
}

.disconnect>img{
  height: 100%;
  width: auto;
}

.disconnect{
  height: 1.4rem;
  width: auto;
}

.player-id{
  color: #ffffff;
  font-size: 1.3rem;
}

.player-id::selection{
  background: rgb(0, 174, 255);
}

.rules-container{
  position: absolute;
  top: 5em;
  left: calc(50% - 13em);
  border: 1px solid #ffffff;
  border-radius: 0.3em;
  width: 26em;
  height: 18em;
  background-color: #ffffff;
  display: none;
  z-index: 1000;
}

.rules-container>h1{
  color: var(--red);
  text-align: center;
}

.rules-container>p{
  word-wrap: break-word;
  color: #000;
}


.stats-container{
  --width: 20vw;
  position: absolute;
  left: calc(50vw - (var(--width)/2));
  top: 6em;
  width: var(--width);
  height: auto;
  padding: 2em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  border-radius: 1em;
  border: 1px solid #000;
  box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, 0.6);
  transform: translateY(0em);
  opacity: 0;
  transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
  font-weight: 500;
}

.stats-container > button{
  padding: 0.5em 0 0.5em 0; 
  border-radius: 3px;
  color: #000;
  border-color: rgb(255, 0, 0);
  transition: box-shadow 300ms ease-in-out;
}

.stats-container > button:hover{
  box-shadow: inset 0px 0px 50px 10px rgba(255, 0, 0, 0.6);
}

.winner{
  color: #fff;
  font-size: 1.5rem;
}

/* @media screen and (max-width: 300px){
  nav{
    display: none;
  }
} */