body{
    margin: 0;
    padding: 0;
}

.background{
    background-color: var(--black-light);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.login-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 14em;
    width: 20em;
    background-color: var(--gray-dark);
    border-radius: 1em;
}

.text-container{
    position: relative;
    height: 10em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.text-input>label{
    color: white;
    font-size: 1.1rem;
}

.text-input > input{
    width: 14em;
    height: 1.2rem;
    background: transparent;
    border: 0;
    padding: 0;
    border-bottom: 1px solid #ffffff;
    caret-color: #ffffff;
}

.text-input > input:focus{
    outline: 0;
}

.text-input{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 12em;
    height: auto;
}

.elements-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.link-create-acc{
    color: #ffffff;
}

.buttons-space{
    display: flex;
    justify-content: space-between;
    width: 12em;
}

.for-id-user{
    width: 5.5em;
}

.for-password-user{
    width: 4.3em;
}

.login-button{
    font-size: 1.2rem;
    border-radius: 0.2em;
    border: transparent;
    background-color: #ffffff;
}

