body{
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 20em;
    width: 20em;
    background-color: red;
}

.text-container{
    position: relative;
    height: 10em;
    width: 100%;
    background-color: blue;
}

.text-container input{
    width: 7em;
    height: 1.2rem;
}

.text-container label{
    color: white;
}

.text-input{
    display: flex;
    flex-direction: column;
    justify-content: left;
}